[submodule "ospray"]
	path = external/ospray
	url = https://github.com/ospray/ospray.git
	branch = master
[submodule "stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "github.io"]
	path = external/github.io
	url = https://github.com/seelabutk/tapestry.git
	branch = gh-pages
